:root {
    --mainColor: #0057FD;
    --mainFont: 'Kanit', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    color: black;
}
body::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200vh;
    z-index: -3000;
    background-image: url("../images/PageBg.png");
    background-size:cover;
    background-repeat: no-repeat;
    opacity: .3;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    opacity: .8;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(117, 112, 112);
    outline: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
}
.container{
    max-width: 1500px;
    margin: 0px auto;
    
}

div.logo img{
    width: 200px;
    padding-top: 10px;
}